*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first>button:first-of-type{
    display: inline-flex;
    padding: 11px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #03045E;
}